#hueSlider {
  background: linear-gradient(to right,
      hsl(0, 100%, 50%),
      hsl(60, 100%, 50%),
      hsl(120, 100%, 50%),
      hsl(180, 100%, 50%),
      hsl(240, 100%, 50%),
      hsl(300, 100%, 50%),
      hsl(360, 100%, 50%));
}

.flexItem {
  width: 50vw;
}

.left {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
